@page
@model Parking.App.Frontend.ListarParqueaderoModel
@using Parking.App.Dominio
@{
}
<h1>Gestionar Parqueadero</h1>
<P>En está página podrá gestionar el parqueadero</P>

<a class="btn btn-primary table-btn" asp-page="./CrearParqueadero">Agregar Parqueadero</a>
<table class="table">
  <thead class="thead-dark">
    <tr> 
      
      <th scope="col">Espacio</th>
      <th scope="col">Vehiculo</th> 
      <th scope="col">Hora de Entrada</th>
      <th scope="col">Hora de Salida</th>  
    </tr>
  </thead>

@foreach(var parqueadero in Model.parqueaderos)
{
  <tr>     
        <td>@parqueadero.Espacio</td>
        <td>@parqueadero.Vehiculo.Placa</td>
        <td>@parqueadero.Hora_Entrada</td>
        <td>@parqueadero.Hora_Salida</td>  
        <td>
            <a class="btn btn-primary table-btn" asp-page="./EditarParqueadero" asp-route-Id="@parqueadero.Id">Editar</a>
        </td>    
  </tr>
}

</table>