@page
@model Parking.App.Frontend.DetalleGerenteModel
@{
}
h1>Detalle del Auxiliar @Model.gerente.Nombre</h1>
<ul>
       
        <li>@Model.gerente.Identificacion</li>
        <li>@Model.gerente.Telefono</li>
        <li>@Model.gerente.Direccion</li>
        <li>@Model.gerente.Email</li>
        <li>@Model.gerente.Contrasena</li>
        <li>@Model.gerente.Fecha_nacimiento</li>
        
    
</ul>
