@page
@model Parking.App.Frontend.Pages.DetalleGerenteModel
@{
}
<h1>Detalle del Gerente @Model.gerente.Nombre</h1>
<ul>
       
        <li>Número de Identificación: @Model.gerente.Identificacion</li>
        <li>Número Telefonico: @Model.gerente.Telefono</li>
        <li>Dirección:@Model.gerente.Direccion</li>
        <li>Correo electronico: @Model.gerente.Email</li>
        <li>Contraseña: @Model.gerente.Contrasena</li>
 
    
</ul>