
@page
@model Parking.App.Frontend.EliminarGerenteModel
@{
}
<div class="center">
<h3>Eliminar Gerente - @Model.gerente.Nombre</h3>
<form method="post" class="mt-3">
    <input hidden asp-for="gerente.Identificacion">
    <input hidden asp-for="gerente.IdGerente">

    <br>       

        <li>Nombre:  @Model.gerente.Nombre</li><br>  
        <li>Identificacion:  @Model.gerente.Identificacion</li><br>        
        <li>Telefono:  @Model.gerente.Telefono</li><br>        
        <li>Direccion:  @Model.gerente.Direccion</li><br>        
        <li>Email:  @Model.gerente.Email</li><br>        
        <li>Contrasena:  @Model.gerente.Contrasena</li><br>        
        <li>Fecha Nacimiento:  @Model.gerente.Fecha_nacimiento</li><br>        
    <br><br>
    <div>
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./Listargerente" class="btn btn-primary">Cancelar</a>
    </div>
</form>
</div>


