@page
@model Parking.App.Frontend.ListarGerenteModel
@{
}

<h1>Gestionar Gerentess</h1>
<p>En está pagina podrás gestionar los Gerentes</p>
<a class="btn btn-primary table-btn" asp-page="./CrearGerente">Agrega Gerente</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Identificacion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Email</th>
      <th scope="col">Contraseña</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Turno</th>
    </tr>
  </thead>
@foreach(var gerente in Model.gerentes){
    <tr>
        <td>@gerente.Nombre</td>
        <td>@gerente.Identificacion</td>
        <td>@gerente.Telefono</td>
        <td>@gerente.Direccion</td>
        <td>@gerente.Email</td>
        <td>@gerente.Contrasena</td>
        <td>@gerente.Fecha_nacimiento</td>
       
        <td>
            <a class="btn btn-primary table-btn" asp-page="./DetalleGerente" asp-route-id="@gerente.Id">Ver más</a>
            <a class="btn btn-primary table-btn" asp-page="./EditarGerente" asp-route-id="@gerente.Id">Editar</a>
            <a class="btn btn-primary table-btn" asp-page="./EliminarGerente" asp-route-id="@gerente.Id">Eliminar</a>
        </td>  
    </tr>
}
</table>

