@page
@model Parking.App.Frontend.ListarGerenteModel
@{
}
<h1>Gestionar Gerente</h1>
<P>En esta pagina podras Gestionar los gerentes</P>
<a class="btn btn-primary table-btn" asp-page="./ListarGerente">Agregar Gerente</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Identificacion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Email</th>
      <th scope="col">Contraseña</th>
  
    
    </tr>
  </thead>

@foreach(var gerente in Model.gerentes){
 <tr>
        <td>@gerente.Nombre</td>
        <td>@gerente.Identificacion</td>
        <td>@gerente.Telefono</td>
        <td>@gerente.Direccion</td>
        <td>@gerente.Email</td>
        <td>@gerente.Contrasena</td>

        <td>
          
    </tr>
}
</table>
