@page
@model Parking.App.Frontend.DetalleVehiculoModel
@{
}
<h1>Detalle del Vehiculo @Model.vehiculo.Placa</h1>
<ul>
       
        <li>@Model.vehiculo.Marca</li>
        <li>@Model.vehiculo.Model</li>
        <li>@Model.vehiculo.Color</li>
        <li>@Model.vehiculo.Tipo</li>
      
</ul>
