@page
@model Parking.App.Frontend.DetalleAuxiliarModel
@{
}
<h1>Detalle del Auxiliar @Model.auxiliar.Nombre</h1>
<ul>
       
        <li>@Model.auxiliar.Identificacion</li>
        <li>@Model.auxiliar.Telefono</li>
        <li>@Model.auxiliar.Direccion</li>
        <li>@Model.auxiliar.Email</li>
        <li>@Model.auxiliar.Contrasena</li>
        <li>@Model.auxiliar.Fecha_nacimiento</li>
        <li>@Model.auxiliar.Turno</li>
    
</ul>