@page
@model Parking.App.Frontend.DetalleAdministradorModel
@{
}
h1>Detalle del Administrador @Model.administrador.Nombre</h1>
<ul>
       
        <li>@Model.administrador.Identificacion</li>
        <li>@Model.administrador.Telefono</li>
        <li>@Model.administrador.Direccion</li>
        <li>@Model.administrador.Email</li>
        <li>@Model.administrador.Contrasena</li>
        <li>@Model.administrador.Fecha_nacimiento</li>
    
</ul>